*.wdb filter=lfs diff=lfs merge=lfs -text
*.vcd filter=lfs diff=lfs merge=lfs -text
*.fst filter=lfs diff=lfs merge=lfs -text
*.jou text eol=lf
*.log text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.m text eol=lf
*.py text eol=lf
*.tcl text eol=lf
*.v text eol=lf
*.vh text eol=lf
*.hex text eol=lf
